/* src/components/SignupModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* translucent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(2px); /* optional: subtle blur effect */
}

.signup-modal {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 420px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.signup-title {
  color: #800080;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.name-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.input.full {
 width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.input.half {
  width: 50%;
}

.password-container {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.create-account-btn {
  width: 100%;
  background: #800080;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px; 
}

.login-link {
  color: #800080;
  text-decoration: none;
  font-weight: 500;
}

.or-text {
   font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 15px;
}

.social-btn {
 width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;

}

.social-btn img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}